{% extends 'recipease/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <div id="recipe-filter">
        <h2>Filter recipes</h2>
        <form method="get">
            {{ filter.form.as_p }}
            <div id="filter-buttons">
                <button type="submit">Search</button>
                <button onclick="location.href='/'" type="reset">reset filters</button>
            </div>
            <i class="fa fa-times-circle" id="close-filter"></i>
        </form>
    </div>
    <div id="index-recipe-display">
        {% if filter.qs %}
            {% for meal in filter.qs %}
                <a href="{% url 'recipe:detail' meal.id %}"><h3>{{ meal.name | title }}</h3></a>
                {% if not meal.image %}
                    <img src="{% static 'recipe/images/no_image.jpeg' %}" alt="no image available"/>
                {% else %}
                    image is {{ meal.image }} <!-- render image here -->
                {% endif %}
                <p>{{ meal.intro }}</p>
            {% endfor %}
        {% else %}
            <p>No results to display</p>
        {% endif %}
    </div>
{% endblock %}
