{% extends 'recipease/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
        <button onclick="location.href='/'" type="reset">reset filters</button>
    </form>
    {% if filter.qs %}
        {% for meal in filter.qs %}
            <a href="{% url 'recipe:detail' meal.id %}"><h3>{{ meal.name }}</h3></a>
            <p>{{ meal.intro }}</p>
            <p>User rating - {{ meal.user_rating }}</p>
        {% endfor %}
    {% else %}
        <p>No results to display</p>
    {% endif %}
{% endblock %}
