header img {
    width: 30px;
}

body {
    background: #FFF;
}

h1 {
    margin-top: 0px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
    background: #522;
    border-top: 3px dotted black;
    border-bottom: 3px dotted black;
}

nav a {
    color: white;
    font-size: 25px;
    background: #522;
    padding: 5px;
    border-radius: 5px;
    margin: 8px 0;
    font-weight: bold;
    text-shadow: #300 0px 3px 3px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    border: 3px dotted black;
}

/*
    id styles
*/
#strapline {
    text-align: center;
    font-size: 30px;
    margin-top: -18px;
    font-family: 'Cookie', cursive;
}

#welcome-message, #view-favourites {
    text-align: center;
}

#click-icons {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 20px;
    margin-top: -20px;
    border-bottom: 3px dotted black;
    padding-bottom: 20px;
}

#recipe-filter {
    background: #252;
    padding: 1px 0 15px 0;
    border-bottom: 3px dotted black;
    border-top: 3px dotted black;
}

#recipe-filter h2, #recipe-detail h2 {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    color: black;
    text-shadow: #030 0px 3px 3px;
}

#recipe-filter h2 {
    color: white;
}

#recipe-filter p select, #recipe-filter p input {
    width: 90%;
    border: 3px dotted black;
    border-radius: 10px;
    text-align: center;
    background: #EFE;
}

#recipe-filter option {
    font-size: 16px;
    margin: 5px 0;
    font-weight: 500;
}

#recipe-filter button{
    font-size: 16px;
    color: white;
    background: #252;
    font-weight: bold;
}

#recipe-filter h3 {
    text-align: center;
}

input#id_name {
    height: 25px;
    font-size: 16px;
    font-weight: 500;    
}

#recipe-filter p, #recipe-detail p {
    text-align: center;
    color: white;
    text-shadow: #030 0px 3px 3px;
}

#recipe-detail p, #recipe-detail h2 {
    color: black;
    text-shadow: none;
}

#recipe-filter label {
    font-size: 30px;
    font-family: 'Cookie', cursive;
}

#filter-buttons {
    display: flex;
    justify-content: space-around;
}

#filter-buttons button {
    border: 3px dotted black;
    background: #252;
    padding: 5px;
    border-radius: 5px;
}

#index-recipe-display {
    text-align: center;
    border-bottom: 3px dotted black;
}

#index-recipe-display h3, #recipe-detail h3 {
    font-family: 'Cookie', cursive;
    margin-bottom: -8px;
    font-size: 40px;
}

#index-recipe-display p {
    font-family: 'Cookie', cursive;
    font-size: 30px;
    margin: 0;    
}

#index-recipe-display p:last-child {
    font-size: 23px;
}

#recipe-detail h3 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 2px;
    border-bottom: 3px dotted black;
    padding-top: 20px;
    font-family: 'Cookie', cursive;
}

#recipe-detail h4 {
    text-align: center;
}

#recipe-detail p {
    font-family: 'Cookie', cursive;
    font-size: 30px;
}

#recipe-detail li {
    font-size: 20px;
}

#detail-comment {
    border-bottom: 3px dotted black;
    text-align: center;
}

#new-comment input {
    width: 95%;
    height: 70px;
    font-size: 20px;
    border: 3px dotted black;
}

#new-comment button {
    border: 3px dotted black;
    border-radius: 10px;
    font-size: 20px;
}

#close-nav, #close-filter {
    font-size: 25px;
    color: white;
    text-shadow: #300 0px 3px 3px;
}

#view-favourites i {
    font-size: 25px;
    color: #CC0;
    text-shadow: #550 0px 2px 3px;
}

/*
    login-register-form
*/

.login-register-form input {
    font-size: 20px;
    height: 20px;
    border-radius: 10px;

}

.login-register-form input:last-child {
    font-size: 20px;
}

/*
    Media
*/
@media only screen and (min-width: 1024px) {
    #click-nav, #close-nav {
        display: none;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #recipe-filter-form {
        display: flex;
    }
}

@media only screen and (min-width: 500px) {
    #index-recipe-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    #index-recipe {
        width: 40%;
    }
}