<!DOCTYPE html>
<head>
    <title>Recipease | {% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Recipease</h1>
        <nav>
            {% if not user.is_authenticated %}
                <a href="{% url 'useraccount:register' %}">register</a>
                <a href="{% url 'useraccount:login' %}">login</a>
            {% else %}
                <a href="{% url 'useraccount:logout' %}">logout</a>
            {% endif %}
        </nav>
        <p>Hi {{ user.username }}</p>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
    <footer>
    </footer>
</body>